In [1]:
import pandas as pd
import os 

def inspect_df(df: pd.DataFrame, name: str = None, n: int = 20) -> None:

    title = f"=== DataFrame Inspection: {name} ===" if name else "=== DataFrame Inspection ==="
    print(f"\n==={title}===")
    print("=" * len(title))

    print("\n=== Dimension ===")
    print(df.shape)

    print("\n=== DF Info ===")
    df.info()

    print(f"\n=== {n} First Rows ===")
    display(df.head(n)) # Tableau HTML

    print(f"\n=== {n} Random Rows ===")
    display(df.sample(n, random_state=42))

    print("\n=== Descriptive Stats ===")
    display(df.describe(include="all").T)

    print("\n=== Unique Value ===")
    print(df.nunique())

    print("\n=== Number of NaN Values ===")
    print(df.isna().sum())

    print("\n=== Number of Duplicates Rows ===")
    print(df.duplicated().sum())

    print("\n=== Duplicates Rows ===")
    print(df[df.duplicated()])

def main():
    path = "data/raw/animal_data_dirty_reworked.csv"
    df = pd.read_csv(path, sep=";")

    filename = os.path.basename(path)
    inspect_df(df, name=filename)

if __name__ == "__main__":
    main()

====== DataFrame Inspection: animal_data_dirty_reworked.csv ======
============================================================

=== Dimension ===
(1011, 11)

=== DF Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal_type       1011 non-null   object
 1   Country           1011 non-null   object
 2   Weight_kg         984 non-null    float64
 3   Body_Length_cm    984 non-null    float64
 4   Gender            1011 non-null   object
 5   Animal_code       0 non-null      float64
 6   Latitude          913 non-null    float64
 7   Longitude         913 non-null    float64
 8   Animal_name       1011 non-null   object
 9   Observation_date  1011 non-null   object
 10  Data_compiled_by  1011 non-null   object
dtypes: float64(5), object(6)
memory usage: 87.0+ KB

=== 20 First Rows ===

,Animal_type,Country,Weight_kg,Body_Length_cm,Gender,Animal_code,Latitude,Longitude,Animal_name,Observation_date,Data_compiled_by
0,Unknown,Unknown,NaN,NaN,Unknown,NaN,NaN,NaN,Unknown,03.01.2024,James Johnson
1,Unknown,Unknown,NaN,NaN,Unknown,NaN,NaN,NaN,Unknown,03.02.2024,James Johnson
2,European bison,Poland,930.000,335.0,male,NaN,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.000,311.0,not determined,NaN,52.830509,23.826849,Unknown,01.03.2024,Anne Anthony
4,European bisonâ„¢,Poland,581.000,277.0,female,NaN,52.834109,23.807093,Unknown,01.03.2024,Anne Anthony
5,European bisson,Poland,900.000,295.0,male,NaN,52.834759,23.817201,Unknown,01.03.2024,Anne Anthony
6,European buster,Poland,620.000,250.0,female,NaN,52.834960,23.820750,Unknown,01.03.2024,Anne Anthony
7,lynx,Hungary,24.000,76.0,male,NaN,48.505494,20.551966,Unknown,01.03.2024,Anne Anthony
8,lynx?,Hungary,23.000,82.0,female,NaN,48.506529,20.554548,Unknown,01.03.2024,Anne Anthony
9,red squirel,Poland,0.308,22.0,female,NaN,52.241273,21.055745,Basia,01.03.2024,Anne Anthony
10,red squirrel,PL,0.348,20.0,female,NaN,52.242060,21.057802,Unknown,01.03.2024,Anne Anthony
11,red squirrel,Poland,0.316,20.0,male,NaN,52.240035,21.056188,Lolek,01.03.2024,Anne Anthony
12,red squirrel,Poland,0.340,21.0,Unknown,NaN,52.240284,21.051948,Unknown,01.03.2024,Anne Anthony
13,red squirrel,Poland,0.333,21.0,male,NaN,NaN,NaN,Unknown,01.03.2024,Anne Anthony
14,red squirrel,Poland,0.265,19.0,female,NaN,52.240560,21.055899,Unknown,01.03.2024,Anne Anthony
15,red squirrel,Poland,NaN,NaN,male,NaN,52.241177,21.052873,Unknown,01.03.2024,Anne Anthony
16,red squirrel,PL,0.261,22.0,female,NaN,52.240833,21.052093,Unknown,01.03.2024,Anne Anthony
17,red squirrel,Poland,0.317,23.0,male,NaN,52.241358,21.056352,Unknown,01.03.2024,Anne Anthony
18,red squirrel,Poland,0.328,21.0,male,NaN,52.241905,21.050727,Unknown,01.03.2024,Anne Anthony
19,red squirrel,Hungary,0.305,21.0,male,NaN,47.511401,18.949119,Unknown,01.03.2024,Anne Anthony

=== 20 Random Rows ===

,Animal_type,Country,Weight_kg,Body_Length_cm,Gender,Animal_code,Latitude,Longitude,Animal_name,Observation_date,Data_compiled_by
630,Unknown,Austria,0.255,22.0,male,NaN,NaN,NaN,Unknown,06.04.2024,Bob Bobson
633,hedgehog,Slovakia,0.800,17.0,male,NaN,48.409645,18.872415,Unknown,06.04.2024,John Johnson
685,red squirrel,Poland,0.325,20.0,female,NaN,50.041347,19.950773,Unknown,11.04.2024,Anne Anthony
516,red squirrel,Poland,0.323,19.0,female,NaN,50.041804,19.951361,Unknown,01.04.2024,Anne Anthony
528,hedgehog,Germany,0.800,23.0,male,NaN,48.161452,11.495239,Unknown,02.04.2024,Bob Bobson
687,red squirrel,Hungary,0.285,20.0,male,NaN,47.509655,18.943576,Unknown,11.04.2024,Anne Anthony
819,hedgehog,Germany,0.500,20.0,male,NaN,49.553240,11.074008,Unknown,28.04.2024,Bob Bobson
532,hedgehog,Germany,1.100,23.0,male,NaN,49.559558,11.081150,Unknown,02.04.2024,Bob Bobson
323,hedgehog,Poland,0.600,15.0,female,NaN,52.214745,21.033701,Unknown,17.03.2024,Anne Anthony
70,red squirrel,Germany,0.314,22.0,male,NaN,NaN,NaN,Unknown,02.03.2024,Bob Bobson
286,red squirel,Slovakia,0.288,18.0,female,NaN,48.185953,17.083930,Unknown,13.03.2024,John Johnson
490,hedgehog,Germany,0.600,15.0,female,NaN,48.160813,11.492539,Unknown,30.03.2024,Bob Bobson
814,hedgehog,Slovakia,0.700,24.0,female,NaN,48.185649,17.088834,Unknown,27.04.2024,John Johnson
249,hedgehog,Hungary,0.900,19.0,female,NaN,48.505634,20.543417,Unknown,11.03.2024,Anne Anthony
833,Unknown,Unknown,NaN,NaN,Unknown,NaN,NaN,NaN,Unknown,03.05.2024,James Johnson
1002,red squirrel,Poland,0.301,22.0,male,NaN,52.212760,21.034189,Unknown,6 May 2024,Anne Anthony
643,red squirrel,Hungary,0.319,18.0,male,NaN,47.508665,18.940456,Unknown,07.04.2024,Anne Anthony
495,hedgehog,Germany,0.900,19.0,male,NaN,48.161646,11.493511,Unknown,30.03.2024,Bob Bobson
436,red squirrel,Germany,0.268,21.0,male,NaN,52.587089,13.151807,Unknown,24.03.2024,Bob Bobson
101,hedgehog,Czech Republic,0.900,20.0,female,NaN,50.639869,14.849702,Unknown,02.03.2024,John Johnson

=== Descriptive Stats ===

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Animal_type,1011,13,red squirrel,543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,1011,15,Poland,291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Weight_kg,984.0,NaN,NaN,NaN,39.745503,156.290076,-0.252,0.293,0.3315,0.8,1100.0
Body_Length_cm,984.0,NaN,NaN,NaN,39.107724,58.628601,-19.0,19.0,21.0,23.0,350.0
Gender,1011,4,male,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Animal_code,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,913.0,NaN,NaN,NaN,49.393369,7.1689,-78.582973,48.186913,49.560723,52.212433,52.853843
Longitude,913.0,NaN,NaN,NaN,18.20328,3.899601,11.074008,14.384559,18.944015,21.033243,34.896734
Animal_name,1011,11,Unknown,959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Observation_date,1011,114,01.03.2024,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data_compiled_by,1011,4,Anne Anthony,473,NaN,NaN,NaN,NaN,NaN,NaN,NaN

=== Unique Value ===
Animal_type          13
Country              15
Weight_kg           195
Body_Length_cm      112
Gender                4
Animal_code           0
Latitude            735
Longitude           743
Animal_name          11
Observation_date    114
Data_compiled_by      4
dtype: int64

=== Number of NaN Values ===
Animal_type            0
Country                0
Weight_kg             27
Body_Length_cm        27
Gender                 0
Animal_code         1011
Latitude              98
Longitude             98
Animal_name            0
Observation_date       0
Data_compiled_by       0
dtype: int64

=== Number of Duplicates Rows ===
167

=== Duplicates Rows ===
       Animal_type Country  Weight_kg  Body_Length_cm   Gender  Animal_code  \
51     red squirel  Poland      0.308            22.0   female          NaN
52    red squirrel      PL      0.348            20.0   female          NaN
53    red squirrel  Poland      0.316            20.0     male          NaN
54    red squirrel  Poland      0.340            21.0  Unknown          NaN
55    red squirrel  Poland      0.333            21.0     male          NaN
...            ...     ...        ...             ...      ...          ...
988   red squirrel  Poland      0.317            19.0   female          NaN
1002  red squirrel  Poland      0.301            22.0     male          NaN
1003  red squirrel  Poland      0.343            22.0     male          NaN
1004  red squirrel  Poland      0.307            20.0   female          NaN
1009  red squirrel  Poland      0.346            20.0   female          NaN

       Latitude  Longitude Animal_name Observation_date Data_compiled_by
51    52.241273  21.055745       Basia       01.03.2024     Anne Anthony
52    52.242060  21.057802     Unknown       01.03.2024     Anne Anthony
53    52.240035  21.056188       Lolek       01.03.2024     Anne Anthony
54    52.240284  21.051948     Unknown       01.03.2024     Anne Anthony
55          NaN        NaN     Unknown       01.03.2024     Anne Anthony
...         ...        ...         ...              ...              ...
988   52.212310  21.033586       Zuzia       4 May 2024     Anne Anthony
1002  52.212760  21.034189     Unknown       6 May 2024     Anne Anthony
1003  52.212497  21.033515     Unknown       6 May 2024     Anne Anthony
1004  52.212144  21.033534     Unknown       6 May 2024     Anne Anthony
1009  52.212001  21.033187        Lola       7 May 2024     Anne Anthony

[167 rows x 11 columns]